.link {
  padding: 2% 2% 2% 2%;
  text-decoration: none;
  color: white;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

.link:visited {
  background-color: white;
}

#nav {
  padding: 2% 0px 2% 0px;
  background-color: rgb(1, 1, 48);
}

.holdings {
  display: flex;
  flex-direction: row;
  background-color: rgb(1, 1, 48);
}

#crypto-graph {
  background-color: rgb(1, 1, 48);
  padding-left: 30px;
  color: black;
}

#crypto-graph h1 {
  color: white;
  text-align: center;
}

.navbar > .container {
  margin: 0;
}

#dashboard {
  display: flex;
  flex-direction: row;
  background-color: rgb(1, 1, 48);
}

#holdings-graph {
  background-color: rgb(1, 1, 48);
  text-align: center;
  margin: auto;
  color: white;
}

html {
  background-color: rgb(1, 1, 48);
}

#browse {
  background-color: rgb(1, 1, 48);
  color: white;
}

.coinItem:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

#coinlist::-webkit-scrollbar {
  display: none;
}