

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.lab{
  position: absolute;
  top: 250px;
  left: 250px;

}
#lab1{
    
  position: absolute;
}
.circle {
  display: flex;
  width: 12px;
  height: 12px;
  /* background-color: green; */
  border-radius: 50%;
}
#total{
  font-weight: 700;
}